body{
    background-color: hwb(240 87% 7%);
}
h1
 {
background-color: blue;
}
h2{
    background-color: #9c9ceca4;
}
h3{
    background-color: #4646f3;
}
h4{
    background-color: #c0c0f7a4;
}